<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>师生双选系统-@ViewBag.Title</title>
    @Styles.Render("~/css/site")
    @Styles.Render("~/css/AdminLTE")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("css", required: false)
    @{
        Selection_Refactor.Models.Dao.SettingDao settingDao = new Selection_Refactor.Models.Dao.SettingDao();
        Selection_Refactor.Models.Dao.StudentDao studentDao = new Selection_Refactor.Models.Dao.StudentDao();
        ViewBag.Stage = settingDao.getCurrentStage();

        HttpCookie accountCookie = Request.Cookies["Account"];
        ViewBag.UserName = accountCookie["userId"];
        ViewBag.UserId = HttpUtility.UrlDecode(accountCookie["userName"]);
    }
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/bootstrap-3.3.7/css/bootstrap.min.css" />

</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo" style="padding:0 10px;text-decoration:none">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/Content/image/logo.png" height="36" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="~/Content/image/logo.png" height="36" /> 北航软院双选系统</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" style="text-decoration:none" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">@ViewBag.UserName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header" style="height:80px">

                                    <p>
                                        @ViewBag.UserName
                                        <small>@ViewBag.UserId</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat" onclick="changePasswd()">修改密码</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat" onclick="logout()">退出登录</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    @{
                        switch (ViewBag.Role)
                        {
                            //TODO By 高晔 以下菜单需要根据实际情况改动
                            case "Student":
                                {
                                    <li class="page-tab index" access-stage="11111111" error-msg="奏是点不开">
                                        <a to="/Student/index">
                                            <i class="fa fa-info-circle"></i>
                                            <span>个人资料</span>
                                        </a>
                                    </li>
                                    <li class="page-tab professor" access-stage="11111111">
                                        <a to="/Student/professor">
                                            <i class="fa fa-hand-pointer-o"></i>
                                            <span>志愿提交</span>
                                        </a>
                                    </li>
                                    <li class="page-tab finalwill" access-stage="00000001">
                                        <a to="/Student/finalwill">
                                            <i class="fa fa-check-square-o"></i>
                                            <span>查看结果</span>
                                        </a>
                                    </li>
                                }
                                break;
                            case "Professor":
                                {
                                    
                                    <li class="page-tab" access-stage="11111111">
                                        <a to="/Professor/Index">
                                            <i class="fa fa-pie-chart"></i>
                                            <span>第一志愿选择页</span>
                                        </a>
                                    </li>
                                    <li class="page-tab" access-stage="00000111">
                                        <a to="/Professor/SecondSelect">
                                            <i class="fa fa-pie-chart"></i>
                                            <span>第二志愿选择页</span>
                                        </a>
                                    </li>
                                    <li class="page-tab" access-stage="00000001">
                                        <a to="/Professor/FinalStudents">
                                            <i class="fa fa-pie-chart"></i>
                                            <span>最终学生列表页</span>
                                        </a>
                                    </li>
                                }
                                break;
                            case "Dean":
                                {
                                    <li class="page-tab profile" access-stage="11111111" error-msg="奏是点不开">
                                        <a to="/Dean/Student">
                                            <i class="fa fa-list-ul"></i>
                                            <span>学生信息</span>
                                        </a>
                                    </li>
                                    <li class="page-tab" access-stage="11111111">
                                        <a to="/Dean/Professor">
                                            <i class="fa fa-list-ul"></i>
                                            <span>教师信息</span>
                                        </a>
                                    </li>
                                }
                                break;
                            case "Admin":
                                {
                                    <li class="page-tab index" access-stage="11111111">
                                        <a to="/Admin/Index">
                                            <i class="fa fa-desktop"></i>
                                            <span>教师信息</span>
                                        </a>
                                    </li>
                                    <li class="page-tab student" access-stage="11111111">
                                        <a to="/Admin/Student">
                                            <i class="fa fa-bar-chart-o"></i>
                                            <span>学生信息</span>
                                        </a>
                                    </li>
                                    <li class="page-tab jiaowu" access-stage="11111111">
                                        <a to="/Admin/JiaoWu">
                                            <i class="fa fa-qrcode"></i>
                                            <span>教务教师信息</span>
                                        </a>
                                    </li>
                                    <li class="page-tab major" access-stage="11111111">
                                        <a to="/Admin/Major">
                                            <i class="fa fa-qrcode"></i>
                                            <span>专业管理</span>
                                        </a>
                                    </li>
                                    <li class="page-tab setting" access-stage="11111111">
                                        <a to="/Admin/Setting">
                                            <i class="fa fa-dashboard"></i>
                                            <span>系统设置</span>
                                        </a>
                                    </li>
                                }
                                break;
                            default: break;
                        }

                    }

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.BoxTitle
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-12 connectedSortable">

                        <!-- Chat box -->
                        <div class="box box-success">
                            <div class="box-header">
                                <i class="fa fa-comments-o"></i>

                                <h3 class="box-title">@ViewBag.BoxTitle</h3>

                            </div>
                            <div class="box-body chat" id="chat-box">
                                @RenderBody()
                            </div>
                            <!-- /.chat -->
                            <div class="box-footer">
                                
                            </div>
                        </div>
                        <!-- /.box (chat box) -->

                    </section>
                    <!-- /.Left col -->
                </div>
                <!-- /.row (main row) -->

            </section>
            <!-- /.content -->
        </div>

    </div>

    <script>
        //定义一些js全局变量
        var currentPageTab ="@ViewBag.CurrentTab";
                        var stage = @ViewBag.Stage;
    </script>

    @Scripts.Render("~/bundles/render")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")


    @RenderSection("script", required: false)

</body>
</html>
