<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>师生双选系统-@ViewBag.Title</title>
    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/site")
    @Styles.Render("~/css/AdminLTE")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("css", required: false)
    @{ViewBag.Stage = 2; }



</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">北航</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">北航软件学院双选系统</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">高晔</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">

                                    <p>
                                        高晔
                                        <small>14211054</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">个人信息</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">退出登录</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    @{
                    switch (ViewBag.Role)
                    {
                    //TODO By 高晔 以下菜单需要根据实际情况改动
                    case "Student":
                    {
                    <li class="page-tab profile" access-stage="1111111" error-msg="奏是点不开">
                        <a href="/Student/profile">
                            <i class="fa fa-th"></i>
                            <span>个人信息</span>
                        </a>
                    </li>
                    <li class="page-tab">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>新页面</span>
                        </a>
                    </li>
                    }
                    break;
                    case "Professor":
                    {
                    <li class="page-tab profile" access-stage="1111111" error-msg="奏是点不开">
                        <a href="/Student/profile">
                            <i class="fa fa-th"></i>
                            <span>个人信息</span>
                        </a>
                    </li>
                    <li class="page-tab">
                        <a href="/Professor/Index">
                            <i class="fa fa-pie-chart"></i>
                            <span>第一志愿选择页</span>
                        </a>
                    </li>
                    <li class="page-tab">
                        <a href="/Professor/SecondSelect">
                            <i class="fa fa-pie-chart"></i>
                            <span>第二志愿选择页</span>
                        </a>
                    </li>
                    <li class="page-tab">
                        <a href="/Professor/FinalStudents">
                            <i class="fa fa-pie-chart"></i>
                            <span>最终学生列表页</span>
                        </a>
                    </li>
                    }
                    break;
                    case "Dean":
                    {
                    <li class="page-tab profile" access-stage="1111111" error-msg="奏是点不开">
                        <a href="/Dean/Professor">
                            <i class="fa fa-list"></i>
                            <span>教师信息</span>
                        </a>
                    </li>
                    <li class="page-tab student">
                        <a href="/Dean/Student">
                            <i class="fa fa-list"></i>
                            <span>学生信息</span>
                        </a>
                    </li>
                    }
                    break;
                    case "Admin":
                    {
                        <li class="page-tab index" access-stage="1111111">
                            <a href="/Admin/Index"><i class="fa fa-desktop"></i>教师信息</a>
                        </li>
                        <li class="page-tab student" access-stage="1111111">
                            <a href="/Admin/Student"><i class="fa fa-bar-chart-o"></i>学生信息</a>
                        </li>
                        <li class="page-tab profile" access-stage="1111111">
                            <a href="/Admin/Setting"><i class="fa fa-dashboard"></i>时间节点设置</a>
                        </li>
                        <li class="page-tab jiaowu" access-stage="1111111">
                            <a href="/Admin/JiaoWu"><i class="fa fa-qrcode"></i>教务教师信息</a>
                        </li>
                    }
                    break;
                    default: break;
                    }

                    }

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    教师列表
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-12 connectedSortable">

                        <!-- Chat box -->
                        <div class="box box-success">
                            <div class="box-header">
                                <i class="fa fa-comments-o"></i>

                                <h3 class="box-title">@ViewBag.BoxTitle</h3>

                            </div>
                            <div class="box-body chat" id="chat-box">
                                @RenderBody()
                            </div>
                            <!-- /.chat -->
                            <div class="box-footer">
                                
                            </div>
                        </div>
                        <!-- /.box (chat box) -->

                    </section>
                    <!-- /.Left col -->
                </div>
                <!-- /.row (main row) -->

            </section>
            <!-- /.content -->
        </div>

    </div>

    <script>
        //定义一些js全局变量
        var currentPageTab ="@ViewBag.CurrentTab";
                        var stage = @ViewBag.Stage;
    </script>

    @Scripts.Render("~/bundles/render")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")


    @RenderSection("script", required: false)
</body>
</html>
