@{
    ViewBag.Title = "个人信息";
    ViewBag.CurrentTab = "index";
    ViewBag.BoxTitle = "个人信息";
    ViewBag.Role = "Student";
    ViewBag.ResumeName = "个人简历_XXX.docx";
    ViewBag.Deadline = "2019/4/16";

}
@section css{
    <link href="~/Content/plugins/fileinput/css/fileinput.min.css" rel="stylesheet" />
}

<!-- general form elements -->

<div class="box-body">
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">姓名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stuName" readonly value="@ViewBag.StuName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学号</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stuID" readonly value="@ViewBag.StuId">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">年龄</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stuAge" value="@ViewBag.StuAge">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">电话</label>
            <div class="col-sm-6">
                <input type="tel" class="form-control" id="stuTel" value="@ViewBag.StuTel">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="stuEmail" value="@ViewBag.StuEmail">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">专业</label>
            <div class="col-sm-6">
                <select id="stuMajorIDSelset" class="form-control">
                    <option value="0">软件工程与管理</option>
                    <option value="1">虚拟现实与应用</option>
                    <option value="2">人工智能</option>
                    <option value="3">大数据技术与应用</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">在职</label>
            <div class="col-sm-6">
                <select id="stuIfWorkSelect" class="form-control">
                    <option value="false">不在职工作</option>
                    <option value="true">在职工作</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">本科毕业学校</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stuGraSchool" value="@ViewBag.StuGraSchool">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">本科毕业专业</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stuGraMajor" value="@ViewBag.StuGraMajor">
            </div>
        </div>
        <div class="box-footer center-block">
            <button id="updateStuInfo" type="button" class="btn btn-primary center-block" style="margin-top:10px">更新个人信息</button>
        </div>
    </div>

    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-sm-6">请上传个人简历（doc/docx,小于5M）</label>
            <div class="col-sm-3" type="button">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadFileModal">
                    上传简历
                </button>
            </div>
        </div>
        <div id="resumeDiv" class="form-group">
            <label id="resume" class="col-sm-5 col-sm-offset-1">@ViewBag.ResumeName</label>
            <div class="col-sm-3" type="button">
                <button id="delete" class="btn btn-default">删除</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6"> 信息上传截至时间：</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" value="@ViewBag.Deadline" readonly>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="uploadFileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">请上传doc或docx文件</h4>
            </div>
            <div class="modal-body">
                <input type="file" id="inputFile">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section script{

    <script src="~/Content/plugins/fileinput/js/fileinput.min.js"></script>
    <script src="~/Content/plugins/fileinput/js/zh.js"></script>
    <script src="~/Content/js/gy-alert.js"></script>
    <script>
        $("#inputFile").fileinput({
            language: 'zh', //设置语言
            maxFileCount: 1,
            showCancel: true,
            uploadUrl: '/Student/submitResume',
            allowedFileExtensions: ['doc', 'docx'],//接收的文件后缀
        }).on('fileuploaded', function (event, previewId, index, fileId) {
            console.log('File Uploaded', 'ID: ' + fileId + ', Thumb ID: ' + previewId);
        }).on('fileuploaderror', function (event, data, msg) {
            console.log('File Upload Error', 'ID: ' + data.fileId + ', Thumb ID: ' + data.previewId);
            $.gyAlert({
                            title: "上传失败"
                        });
        }).on('filebatchuploadcomplete', function (event, preview, config, tags, extraData) {
            console.log('File Batch Uploaded', preview, config, tags, extraData);
        });

        $(document).ready(function () {
            $("#delete").click(function () {
                $("#resumeDiv").hide();
            });

            $("#updateStuInfo").click(function () {
                console.log("in");
                if ($("#stuAge").val() == "") {
                    $.gyAlert({
                        title: "提示",
                        contentText: "年龄不能为空"
                    });
                }
                else if (parseInt($("#stuAge").val()).toString() == "NaN" || parseInt($("#stuAge").val()) > 40 || parseInt($("#stuAge").val()) < 18) {
                    $.gyAlert({
                        title: "提示",
                        contentText: "年龄不规范"
                    });
                }
                else if ($("#stuTel").val() == "") {
                    $.gyAlert({
                        title: "提示",
                        contentText: "电话不能为空"
                    });
                }
                else if (!(/^1[34578]\d{9}$/.test($("#stuTel").val().toString()))) {
                    $.gyAlert({
                        title: "提示",
                        contentText: "电话格式不正确，应为11位数字"
                    });
                }
                else if ($("#stuEmail").val() == "") {
                    $.gyAlert({
                        title: "提示",
                        contentText: "邮箱不能为空"
                    });
                }
                else if (!(/^(\w-*\.*)+@@(\w-?)+(\.\w{2,})+$/.test($("#stuEmail").val().toString()))) {
                    $.gyAlert({
                        title: "提示",
                        contentText: "邮箱格式不正确"
                    });
                }
                else if ($("#stuGraSchool").val() == "") {
                    $.gyAlert({
                        title: "提示",
                        contentText: "本科毕业学校不能为空"
                    });
                }
                else if ($("#stuGraMajor").val() == "") {
                    $.gyAlert({
                        title: "提示",
                        contentText: "本科毕业专业不能为空"
                    });
                }
                else {
                    alert("提交成功");
                    var data = {
                        age: $("#stuAge").val(),
                        phoneNumber: $("#stuTel").val(),
                        email: $("#stuEmail").val(),
                        onTheJob: $("#stuIfWorkSelect").val(),
                        graSchool: $("#stuGraSchool").val(),
                        graMajor: $("#stuGraMajor").val()
                    };
                    $.post("/Student/saveInfo", data, function (rdata) {
                        if (rdata.indexOf("success") != 0)
                            $.gyAlert({
                                title: "更改信息失败",
                                contentText: rdata
                            });
                    });
                }
            });

            //$("#submitResume").click(function () {
            //    var data = {
            //        resumeUrl: $("#resume").val()
            //    };
            //    $.post("/Student/submitResume", data, function (rdata) {
            //        if (rdata.indexOf("success") != 0)
            //            $.gyAlert({
            //                title: "上传失败",
            //                contentText: rdata
            //            });
            //        else
            //            $.gyAlert({
            //                title: "上传成功"
            //            });
            //    });
            //})
        });
    </script>
}
