@{
    ViewBag.Title = "个人信息";
    ViewBag.CurrentTab = "index";
    ViewBag.BoxTitle = "个人信息";
    ViewBag.Role = "Student";

}
@section css{
    <link href="~/Content/plugins/fileinput/css/fileinput.min.css" rel="stylesheet" />
}

<!-- general form elements -->

<div class="box-body">
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">姓名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stuName" readonly value="@ViewBag.StuName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学号</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stuID" readonly value="@ViewBag.StuId">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">专业</label>
            <div class="col-sm-6">
                <input type="text" id="stuMajorIDSelset" class="form-control" readonly value="@ViewBag.StuMajor">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">年龄</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stuAge" value="@ViewBag.StuAge">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">电话</label>
            <div class="col-sm-6">
                <input type="tel" class="form-control" id="stuTel" value="@ViewBag.StuTel">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="stuEmail" value="@ViewBag.StuEmail">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">在职</label>
            <div class="col-sm-6">
                <select id="stuOnTheJob" class="form-control">
                    <option value="False">脱产</option>
                    <option value="True">在职</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">本科毕业学校</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stuGraSchool" value="@ViewBag.StuGraSchool">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">本科毕业专业</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stuGraMajor" value="@ViewBag.StuGraMajor">
            </div>
        </div>
        <div class="form-group">
            <button id="updateStuInfo" type="button" class="btn btn-primary" style="margin-top:10px;margin-right:calc(25% + 15px);float:right">更新个人信息</button>
        </div>
    </div>

    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label style="width:180px;text-align:right;margin-right:50px">上传个人简历: </label>
            @if (string.IsNullOrEmpty(ViewBag.ResumeUrl))
            {
                <span id="resume-name" style="display:none"></span>
                <a id="download-resume-a" class="btn btn-default" style="margin:0 20px;display:none" href="#" download="" >下载</a>
                
                <button id="upload-resume-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadFileModal">
                    上传简历
                </button>
            }
            else
            {
                <span id="resume-name">@Path.GetFileName(ViewBag.ResumeUrl)</span>
                <a id="download-resume-a" class="btn btn-default" style="margin:0 20px" href="@ViewBag.ResumeUrl" download="@Path.GetFileName(ViewBag.ResumeUrl)" >下载</a>
                <button id="upload-resume-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadFileModal">
                    重新上传
                </button>
            }
            
        </div>
        @if (ViewBag.Deadline != "")
        {
            <div class="form-group">
                <label style="width:180px;text-align:right;margin-right:50px"> 信息上传截至时间:</label>
                    <span>@ViewBag.Deadline</span>
            </div>
        }
    </div>
</div>


<div class="modal fade" id="uploadFileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">请上传doc或docx文件(小于5M）</h4>
            </div>
            <div class="modal-body">
                <input type="file" name="file" id="inputFile">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section script{

    <script src="~/Content/plugins/fileinput/js/fileinput.min.js"></script>
    <script src="~/Content/plugins/fileinput/js/zh.js"></script>
    <script src="~/Content/js/gy-alert.js"></script>
    <script>
        $("#inputFile").fileinput({
            language: 'zh', //设置语言
            maxFileCount: 1,
            showCancel: true,
            uploadUrl: '/Student/submitResume',
            allowedFileExtensions: ['doc', 'docx'],//接收的文件后缀
        }).on('fileuploaded', function (event, preview, config, tags, extraData) {
            var url = preview.response.url;
            if (url != "") {
                $("#resume-name").text(preview.files[0].name)
                $("#resume-name").show();
                $("#download-resume-a").attr("download", preview.files[0].name);
                $("#download-resume-a").attr("href", url);
                $("#download-resume-a").show();
                $("#upload-resume-btn").text("重新上传").show();
            }
            console.log('File Batch Uploaded', preview, config, tags, extraData);
        });
        
        $(document).ready(function () {
            if (stage > 1) {
                $("#stuAge").attr("readonly", "readonly");
                $("#stuTel").attr("readonly", "readonly");
                $("#stuEmail").attr("readonly", "readonly");
                $("#stuOnTheJob").attr("disabled", "disabled");
                $("#stuGraSchool").attr("readonly", "readonly");
                $("#stuGraMajor").attr("readonly", "readonly");
                $("#updateStuInfo").hide();
                $("#upload-resume-btn").hide();
            }

            $("#stuOnTheJob option[value='@ViewBag.OnTheJob']").attr("selected", "selected");

            $("#updateStuInfo").click(function () {
                if ($("#stuAge").val() == "") {
                    $.gyAlert({
                        title: "提示",
                        contentText: "年龄不能为空"
                    });
                }
                else if (parseInt($("#stuAge").val()).toString() == "NaN" || parseInt($("#stuAge").val()) > 40 || parseInt($("#stuAge").val()) < 18) {
                    $.gyAlert({
                        title: "提示",
                        contentText: "年龄不规范"
                    });
                }
                else if ($("#stuTel").val() == "") {
                    $.gyAlert({
                        title: "提示",
                        contentText: "电话不能为空"
                    });
                }
                else if (!(/^1[34578]\d{9}$/.test($("#stuTel").val().toString()))) {
                    $.gyAlert({
                        title: "提示",
                        contentText: "电话格式不正确，应为11位数字"
                    });
                }
                else if ($("#stuEmail").val() == "") {
                    $.gyAlert({
                        title: "提示",
                        contentText: "邮箱不能为空"
                    });
                }
                else if (!(/^(\w-*\.*)+@@(\w-?)+(\.\w{2,})+$/.test($("#stuEmail").val().toString()))) {
                    $.gyAlert({
                        title: "提示",
                        contentText: "邮箱格式不正确"
                    });
                }
                else if ($("#stuGraSchool").val() == "") {
                    $.gyAlert({
                        title: "提示",
                        contentText: "本科毕业学校不能为空"
                    });
                }
                else if ($("#stuGraMajor").val() == "") {
                    $.gyAlert({
                        title: "提示",
                        contentText: "本科毕业专业不能为空"
                    });
                }
                else {
                    $.gyAlert({
                        title: "提示",
                        contentText: "提交成功",
                    });
                    var data = {
                        age: $("#stuAge").val(),
                        phoneNumber: $("#stuTel").val(),
                        email: $("#stuEmail").val(),
                        onTheJob: $("#stuOnTheJob option:selected").val(),
                        graSchool: $("#stuGraSchool").val(),
                        graMajor: $("#stuGraMajor").val()
                    };
                    $.post("/Student/saveInfo", data, function (rdata) {
                        if (rdata.indexOf("success") != 0)
                            $.gyAlert({
                                title: "更改信息失败",
                                contentText: rdata
                            });
                    });
                }
            });
        });
    </script>
}
