
@{
    ViewBag.Title = "学生列表";
    ViewBag.CurrentTab = "student";
    ViewBag.BoxTitle = "学生主页";
    ViewBag.Role = "Dean";
    ViewBag.Show = true;
}

<section class="content">
    <div class="row">
        @if(ViewBag.Show)
        {
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">志愿选择</h3>
                    </div>
                    <div class="box-body">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>第一志愿</b>
                                <p class="pull-right" id="FirstWill">@ViewBag.FirstWillName</p>
                            </li>
                            <li class="list-group-item">
                                <b>第二志愿</b>
                                <p class="pull-right" id="SecondWill">@ViewBag.SecondWillName</p>
                            </li>
                            <li class="list-group-item">
                                <b>最终导师</b>
                                <p class="pull-right" id="FinalWill"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        
        <div class="col-md-7 pull-right">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">个人基本信息</h3>
                </div>
                <div class="box-body">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>姓名</b>
                            <p class="pull-right" id="StuName">@ViewBag.Name</p>
                        </li>
                        <li class="list-group-item">
                            <b>学号</b>
                            <p class="pull-right" id="StuId">@ViewBag.Id</p>
                        </li>
                        <li class="list-group-item">
                            <b>年龄</b>
                            <p class="pull-right" id="StuAge">@ViewBag.Age</p>
                        </li>
                        <li class="list-group-item">
                            <b>专业</b>
                            <p class="pull-right" id="StuMajor">@ViewBag.Major</p>
                        </li>
                        <li class="list-group-item">
                            <b>电话</b>
                            <p class="pull-right" id="StuPhone">@ViewBag.Phone</p>
                        </li>
                        <li class="list-group-item">
                            <b>在职情况</b>
                            <p class="pull-right" id="StuOnthejob">@ViewBag.OnJob</p>
                        </li>
                        <li class="list-group-item">
                            <b>邮箱</b>
                            <p class="pull-right" id="StuMail">@ViewBag.Email</p>
                        </li>
                        <li class="list-group-item">
                            <b>学生简历</b>
                            <a class="pull-right" id="ResumeUrl1" href="@ViewBag.ResumeUrl">
                                <i class="fa fa-download"></i>
                                下载简历
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>

@section script{
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script>
        $(document).ready(function() {
            if (stage < 8)
                $('#FinalWill').html("未公布");
            else $('#FinalWill').html(@ViewBag.FinalWillName);
        })
    </script>
    }

