@{
    ViewBag.Title = "学生信息";
    ViewBag.CurrentTab = "index";
    ViewBag.Stage = 2;
    ViewBag.BoxTitle = "学生信息";
    ViewBag.Role = "Professor";
}

@section css{
    <style>
        .form-group div {
            padding-top: 6px;
            font-size: 16px;
        }
        .form-group label{
            width: 35%;
        }
    </style>
}


<div class="col-md-6 form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">姓名：</label>
        <div class="col-sm-6">@ViewBag.StuName</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">学号：</label>
        <div class="col-sm-6">@ViewBag.StuId</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">年龄：</label>
        <div class="col-sm-6">@ViewBag.StuAge</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">电话：</label>
        <div class="col-sm-6">@ViewBag.StuTel</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">邮箱：</label>
        <div class="col-sm-6">@ViewBag.StuEmail</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">专业：</label>
        <div class="col-sm-6">@ViewBag.StuMajor</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">在职/脱产：</label>
        <div class="col-sm-6">@ViewBag.StuOnTheJob</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">本科毕业学校：</label>
        <div class="col-sm-6">@ViewBag.StuGraSchool</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">本科毕业专业：</label>
        <div class="col-sm-6">@ViewBag.StuGraMajor</div>
    </div>
</div>